.el-container,
.el-header,
.el-aside,
.el-main,
.el-footer {
    margin: 0;
    padding: 0;
}

.el-container {
    height: 100%;
}

.el-scrollbar__view {
    height: 100%;
}

.el-menu-item-group__title {
    padding: 0;
}