.justify-start {
    display: flex;
    justify-content: flex-start;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.justify-around {
    display: flex;
    justify-content: space-around;
}

.el-container,
.el-header,
.el-aside,
.el-main,
.el-footer {
    margin: 0;
    padding: 0;
}

.el-container, .el-menu, .max-height {
    height: 100%;
}

.el-header {
    padding: 0 !important;
}

.el-footer {
    height: 80px !important;
}

.el-scrollbar__view {
    height: 100%;
}

.el-menu-item-group__title {
    padding: 0;
}

.el-table th.el-table__cell {
    font-size: medium;
    font-weight: bold;
    background-color: #409eff !important;
}

.el-table thead {
    color: #ffffff !important;
}